<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>E-Tutorial Lobby</title>
		<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Lato">
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="/css/lobby.css">
		
        <script>
			window.userId = "<%= userId %>";
            window.moduleId = "<%= moduleId %>";
            window.tutorialId = "<%= tutorialId %>";
            window.username = "<%= username %>";
            window.userRole = "<%= userRole %>";
        </script>

    </head>

    <body ng-app="lobbyApp">
	
		<ul id="header">
			<li class="header"><a class="active" href="/">(<%= username %>)</a></li>
		
			<li class="header" style="float:right"><a class="active" href="/dashboard">Dashboard</a></li>
			<li class="header" style="float:right"><a class="active" id="logout" >Log Out</a></li>
		</ul>
	
		<div ng-controller="socketCtrl" class="container" id="header-bar"> <!-- Title Box -->
			<div class="row">
				<div class="text-center col-md-12">
					<h1>Welcome to <%= moduleId %> <%= tutorialId %>'s Lobby!</h1>
				</div>
			</div>
		</div>

		<p></p>
		
		<div class="container">
			<div class="row" id="battle-container"> <!-- Question Composer Outer Box -->
				
				<div ng-controller="tutorCtrl">
					<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2" id="question-list-container" ng-if="socket.getConnectionState() == socket.CONNECTED() && socket.getUserType() == 'tutor'" style="border: 2px solid #FFFFFF;">
						<div class="text-center row"> <!-- Question Composer Inner Box -->
							<h2> Question Composer</h2>
						</div>

						<div class="row">
							<div class="question-area" style="width:100%; max-height:300px; overflow:auto;">
								<textarea class="question-description-input" style="width:100%;" ng-model="composerQuestion.description" placeholder="Type question..." type="text"  ng-trim="false"></textarea>
							</div>
						</div>
						
						<div class="row">
							<div class="groups-list">
                                <div class="container-fluid">
                                    <div class="row-fluid">
                                        <button class="btn select-group" ng-class="{'btn-info' : inSelectedGroups($index), 'btn-success' : !inSelectedGroups($index)}" ng-repeat="group in socket.getSocketGroups()" ng-click="toggleSelectedGroup($index)">{{group}}</button>

                                        <button class="btn btn-success send-question" style="float:right;" ng-click="sendQuestion()">Attack!</button>
                                    </div>
                                </div>
							</div>
						</div>
					</div>
				</div>
                
                <div ng-controller="studentCtrl">
                	<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2" id="userlist-container" ng-if="socket.getConnectionState() == socket.CONNECTED() && socket.getUserType() == 'student'">
						<div class="text-center row">
							<h2> Combat Log </h2>
						</div>
						<div class="row">
							<div class="questions-received-area" style="width:100%; max-height:300px; overflow:auto;">
								<ul class="questions-received-list">
	                                <li class="question-received" ng-repeat="(uuid, question) in questions">
	                                    <div class="container-fluid">
	                                        <div class="row-fluid">
	                                            <h3 style="white-space: pre-wrap;" ng-bind-html="question.description"></h3>
	                                        </div>
	                                        <div class="question-received-answers">
	                                            <div ng-repeat="answer in question.answers" class="row">
	                                            	<div class="col-md-2 col-sm-2 col-xs-2">
	                                            		<div>
                                                   			{{answer.student.username}}
                                                   		</div>
	                                                </div>
	                                                <div class="col-md-8 col-sm-8 col-xs-8">
                                                   		<textarea class="answer-description-input" style="width:100%;" ng-show="answer.owned" ng-model="answer.description" placeholder="Type answer..." type="text"  ng-trim="false"></textarea>
                                                   		<div style="white-space: pre-wrap;" class="answer-description" ng-show="!answer.owned" ng-bind-html="answer.description"></div>
	                                                </div>
	                                                <div class="col-md-2 col-sm-2 col-xs-2">
	                                                	<button class="btn vote-answer" ng-class="{'btn-success' : answer.selected, 'btn-warning' : !answer.selected }" ng-click="selectAnswer(uuid, $index)" style="float:right;">Vote!</button>
                                               			<div>
                                                   			{{answer.selectedCount}}
                                               			</div>
	                                                </div>
	                                            </div>
	                                        </div>
	                                        <div class="row-fluid">
	                                            <button class="btn btn-success update-answer" ng-click="updateAnswer(uuid)" style="float:right;">Update!</button>
	                                            <button class="btn btn-success submit-answer" ng-if="hasAllVotes(uuid)" style="float:right;">Submit!</button>
	                                        </div>
	                                    </div>
	                                </li>
	                            </ul>
							</div>
						</div>
					</div>
				</div>
			
			</div>

			<div class="row" id="battle-screen-container">
				<!--<div ng-controller="battleScreenCtrl">-->
					<div class="text-center row">
					
						<p></p>
						
						<div class="col-md-3">
						 	<div class="text-center-row" style="border: 2px solid #FFFFFF; height: 300px;">
								<h2>Tutor's Avatar</h2>
							</div>
						</div>
						
						<div class="col-md-6">
						   <div class="text-center-row" style="border: 2px solid #FFFFFF; height: 300px;">
								<h2>Combat Screen</h2>
							</div>
						</div>
						
						<div class="col-md-3">
							<div class="text-center-row" style="border: 2px solid #FFFFFF; height: 300px;">
								<h2>Tutees' Avatars</h2>
							</div>
						</div>
					</div>
				<!--</div>-->
			</div>

			<div class="row" id="lobby-container">

				<p></p>
			
				<div ng-controller="chatCtrl">
					<div class="col-md-8 col-sm-6 col-xs-7" id="chat-container" ng-if="socket.getConnectionState() == socket.CONNECTED()" style="border: 2px solid #FFFFFF;">
						
						<div class="text-center row" style="border-bottom: 2px solid #FFFFFF;">
							<h2> Messages </h2>
						</div>
						
						<div class="row">
							<div class="groups-list">
                                <div class="container-fluid">
                                    <div class="row-fluid">
                                        <button class="btn select-group" ng-class="{'btn-info' : selectedGroup == $index, 'btn-success' : selectedGroup != $index}" ng-repeat="group in socket.getSocketGroups()" ng-click="setSelectedGroup($index)">{{group}}</button>
                                    </div>
                                </div>
							</div>
						</div>
						
						<div class="row">
							<div class="chat-area" id="messageBox" style="width:100%; height:100px; position:relative; overflow-y: scroll;
								overflow-x:hidden; -ms-word-break: break-all; word-break: break-all; word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto;">
								<ul class="messages">
									<li ng-repeat="message in messages[socket.getSocketGroups()[selectedGroup]]"
										ng-class="{'log' : message.type=='log', 'message' : message.type=='message'}"
										data-username="{{message.user}}"
										>
										<div ng-if="message.type == 'chat'">
											<span class="username" ng-bind="message.user" style="color:{{getUsernameColor(message.user)}}; padding-right:5px;"></span> 
											<span class="messageBody" ng-bind="message.message"></span>
										</div>
										<div ng-if="message.type == 'log'" style="color: white";>
											{{ message.message }}
										</div>
									</li>
								</ul>
							</div>
						</div>
						
						<div class="row">
							<div class="typing-message-area" style="width:100%;">
								<ul class="typing-messages">
									<li ng-repeat="typingMessage in typingMessages">
										<div>
											<span class="username" ng-bind="typingMessage.user" style="color:{{getUsernameColor(typingMessage.user)}}; padding-right:5px;"></span>
											<span class="messageBody" ng-bind="typingMessage.message"></span>
										</div>
									</li>
								</ul>
							</div>
						</div>
						
						<div class="row">
							<!-- ng-model within ng-if block must reference the data prepended by $parent -->
							<input class="inputMessage" style="width:100%;" ng-model="$parent.chatMessage" ng-enter="sendMessage()" ng-change="updateTyping()" placeholder="Type here..."/>
						</div>
					
					</div>
				</div>

				<div ng-controller="activeUsersCtrl">
					<div class="col-md-4 col-sm-6 col-xs-5" style="border: 2px solid #FFFFFF; height: 235px;" id="userlist-container" ng-if="socket.getConnectionState() == socket.CONNECTED()">
						<div class="text-center row" style="border-bottom: 2px solid #FFFFFF;">
							<h2> Active Users </h2>
						</div>
						
						<div class="row">
							<div class="groups-list">
                                <div class="container-fluid">
                                    <div class="row-fluid">
                                        <button class="btn select-group" ng-class="{'btn-info' : selectedGroup == $index, 'btn-success' : selectedGroup != $index}" ng-repeat="group in socket.getAllSocketGroups()" ng-click="setSelectedGroup($index)">{{group}}</button>
                                    </div>
                                </div>
							</div>
						</div>
						
						<div class="row" ng-if="socket.getUserType() =='tutor'">
							<div class="users-active-list">
								<ul class="users-active">
									<li class="user-active" ng-repeat="user in users[socket.getAllSocketGroups()[selectedGroup]]">
	                                    <div class="container-fluid">
	                                        <div class="row-fluid" ng-click="selectUser(user.socketId);" ng-style="{'color' : selectedUsers.indexOf (user.socketId) < 0 ? 'white' : 'yellow'}">
	                                            {{user.username}}
	                                        </div>
	                                    </div>
	                                </li>
								</ul>
							</div>
						</div>
						
						<div class="row" ng-if="socket.getUserType() == 'student'">
							<div class="users-active-list">
								<ul class="users-active">
									<li class="user-active" ng-repeat="user in users[socket.getAllSocketGroups()[selectedGroup]]">
	                                    <div class="container-fluid">
	                                        <div class="row-fluid">
	                                            {{user.username}}
	                                        </div>
	                                    </div>
	                                </li>
								</ul>
							</div>
						</div>
						
						<div class="row-fluid" ng-if="socket.getUserType() == 'tutor'">
							<div class="col-md-6 col-sm-6 col-xs-6">
                            	<input class="input-group-name" style="width:100%;" ng-model="$parent.$parent.newGroupName" placeholder="Group name here..."/>
                        	</div>

                        	<div class="col-md-6 col-sm-6 col-xs-6">
                            	<button class="btn btn-success create-group" ng-click="createGroup()" ng-disabled="!isValidGroupParams()" style="float:right;">Create Group!</button>
                            	<div ng-if="selectedGroup > 0">
                            		<button class="btn btn-warning delete-group" ng-click="deleteGroup()" style="float:right;">Delete Group</button>
                            	</div>
                        	</div>
                        </div>
					
					</div>
				</div>
				
			</div>
		</div>

		<script type="text/javascript" src="/libs/jquery/jquery-3.2.0.min.js"></script>
		<script type="text/javascript" src="/libs/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/libs/socket.io-1.7.3/js/socket.io.min.js"></script>
		<script type="text/javascript" src="/libs/angular-1.6.3/angular.min.js"></script>
		<script type="text/javascript" src="/libs/angular-1.6.3/angular-sanitize.min.js"></script>

        <script type="text/javascript" src="/javascripts/Lobby/lobby-angular-module.js"></script>
        <script type="text/javascript" src="/javascripts/Lobby/lobby-angular-socket-controller.js"></script>
        <script type="text/javascript" src="/javascripts/Lobby/lobby-angular-student-controller.js"></script>
        <script type="text/javascript" src="/javascripts/Lobby/lobby-angular-tutor-controller.js"></script>
        <script type="text/javascript" src="/javascripts/Lobby/lobby-angular-chat-controller.js"></script>
        <script type="text/javascript" src="/javascripts/Lobby/lobby-angular-activeusers-controller.js"></script>
		
        <!--<script>
		
			/*$(document).ready(function() {
				var $textarea = $('#messageBox');
				var scrollTop = parseInt($textarea.prop('scrollHeight'));
				$textarea.scrollTop(scrollTop);
				console.log(scrollTop);
			});*/
		
			/*function chatPermaBot() {
				//document.getElementById("messageBox").scrollTop = document.getElementById("messageBox").scrollHeight;
				//var number = parseInt(shoutbox.attr("scrollHeight"));
				var chatBox = document.getElementById('messageBox');
				chatBox.scrollTop = chatBox.number;
				console.log("Hehe");
			}*/
		</script> -->
		
		<style>
		</style>
	</body>
</html>