<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>E-Tutorial Lobby</title>
		
		<script type="text/javascript" src="/libs/jquery/jquery-3.2.0.min.js"></script>
		<script type="text/javascript" src="/libs/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="/libs/socket.io-1.7.3/js/socket.io.min.js"></script>
		<script type="text/javascript" src="/libs/angular-1.6.3/angular.min.js"></script>
		<script type="text/javascript" src="/libs/angular-1.6.3/angular-sanitize.min.js"></script>

		<script type="text/javascript" src="/javascripts/Lobby/lobby-angular-module.js"></script>
		<script type="text/javascript" src="/javascripts/Lobby/lobby-angular-socket-controller.js"></script>
		<script type="text/javascript" src="/javascripts/Lobby/lobby-angular-student-controller.js"></script>
		<script type="text/javascript" src="/javascripts/Lobby/lobby-angular-tutor-controller.js"></script>
		<script type="text/javascript" src="/javascripts/Lobby/lobby-angular-chat-controller.js"></script>
		<script type="text/javascript" src="/javascripts/Lobby/lobby-angular-activeusers-controller.js"></script>
		
        <link rel="stylesheet" href="/libs/bootstrap-3.3.7-dist/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=VT323">
		<link rel="stylesheet" type="text/css" href="/css/lobby.css">
		<link rel="stylesheet" type="text/css" href="/css/navigationbar.css">
		
        <script>
			window.userId = "<%= userId %>";
            window.moduleId = "<%= moduleId %>";
            window.tutorialId = "<%= tutorialId %>";
            window.username = "<%= username %>";
            window.userRole = "<%= userRole %>";
            window.tutorialUuid = "<%= tid %>";
        </script>
    </head>

    <body ng-app="lobbyApp">
	
		<ul id="header">
			<li class="header">
				<a class="active font" href="/"><%= username %></a>
			</li>
		
			<li class="header">
				<a class="active font" href="/dashboard">Dashboard</a>
			</li>
		</ul>
	
		<div ng-controller="socketCtrl" class="container" id="header-bar"> <!-- Title Box -->
			<div class="row">
				<div class="text-center col-md-12 col-sm-12 col-xs-12">
					<h1 class="font whiteFont centerText boldText lobbyBottomFiller">Welcome to <%= moduleId %> <%= tutorialId %>'s Lobby!</h1>
				</div>
			</div>
		</div>
		
		<div class="container">
			<div class="row" id="battle-container"> <!-- Question Composer Outer Box -->
				<div ng-controller="tutorCtrl">
					<div class="col-md-3 col-sm-3 col-xs-3 smoothImage border-normal" ng-if="socket.getConnectionState() == socket.CONNECTED() && socket.getUserType() == 'tutor'">
						<div class="text-center row">
							<h2 class="font whiteFont centerText boldText lobbyBottomFiller">Tutor's Avatar</h2>
						</div>
					</div>
				
					<div class="col-md-6 col-sm-6 col-xs-6 smoothImage border-normal" id="question-list-container" ng-if="socket.getConnectionState() == socket.CONNECTED() && socket.getUserType() == 'tutor'">
						<div class="text-center row"> <!-- Question Composer Inner Box -->
							<h2 class="font whiteFont centerText boldText lobbyBottomFiller">Question Composer</h2>
						</div>

						<div class="row">
							<div class="question-area">
								<textarea class="question-description-input font maximumWidth lobbyGeneralFontSize" ng-model="composerQuestion.description" placeholder="Type Your Question Here!" type="text"  ng-trim="false"></textarea>
							</div>
						</div>
						
						<div class="row">
							<div class="groups-list">
                                <div>
									<h3 class="font whiteFont boldText">Groups To Send To:</h3>
                                    <div class="row-fluid">
                                        <button class="btn select-group font" ng-class="{'btn-info' : inSelectedGroups($index), 'btn-success' : !inSelectedGroups($index)}" ng-repeat="group in socket.getSocketGroups()" ng-click="toggleSelectedGroup($index)">{{group}}</button>

                                        <button class="btn btn-success send-question floatRight font" ng-click="sendQuestion()">Attack!</button>
                                    </div>
                                </div>
							</div>
						</div>
						
						<div class="row">
							<div class="answers-received-area">
								<div class="answers-received-list">
	                                <div class="answers-received" ng-repeat="(uuid, question) in questions">
	                                    <div class="col-md-12 col-sm-12 col-xs-12 border-gold-trimmed marginTop">
	                                        <div class="row">
	                                            <h3 class="font whiteFont boldText marginBottom" style="white-space: pre-wrap;" ng-bind-html="question.description"></h3>
	                                        </div>
	                    
											<div class="row">
		                                    	<button class="btn answers-received-select-group font" ng-class="{'btn-info' : question.selectedGroup == question.groupNames[$index], 'btn-success' : question.selectedGroup != question.groupNames[$index]}" ng-repeat="group in question.groupNames" ng-click="setSelectedGroup(uuid, $index)">{{group}}</button>
	                                        </div>
	                                        
											<div class="row group-received-answers" ng-show="question.groupAnswers[question.selectedGroup].answered">
	                                            <div class="container-fluid border-gold-trimmed">
	                                            	<div class="col-md-4 col-sm-4 col-xs-4 font whiteFont">
	                                            		<div>	{{question.groupAnswers[question.selectedGroup].student}}
                                                   		</div>
	                                                </div>
	                                                
													<div class="col-md-8 col-sm-8 col-xs-8 font whiteFont">
                                                   		<div class="answer-description chatWhiteSpace" ng-bind-html="question.groupAnswers[question.selectedGroup].description"></div>
	                                                </div>
	                                            </div>
	                                            
												<div class="container-fluid">
													<div class="explanation-area font maximumWidth">
														<textarea class="answer-explanation-input maximumWidth" ng-model="question.groupAnswers[question.selectedGroup].explanation"
															placeholder="Explanation!" type="text"  ng-trim="false">
														</textarea>
													</div>
												</div>
												
												<div class="container-fluid">
		                                        	<input class="experience-input font maximumWidth" type="number" ng-model="question.groupAnswers[question.selectedGroup].experience"/>
														<button class="btn btn-success grade-question floatRight font" ng-if="isQuestionAnswered(uuid)" ng-click="gradeQuestion(uuid)">Grade!</button>	
		                                        </div>
	                                        </div>
	                                        
											<div class="row" ng-show="!question.groupAnswers[question.selectedGroup].answered">
                                                <div class="font whiteFont lobbyGeneralFontSize">
                                               		Status: Waiting for Answer...
                                                </div>
                                            </div>
	                                    </div>
	                                </div>
	                            </div>
							</div>
						</div>

					</div>
					
					<div class="col-md-3 col-sm-3 col-xs-3 smoothImage border-normal" ng-if="socket.getConnectionState() == socket.CONNECTED() && socket.getUserType() == 'tutor'">
						<div class="text-center row">
							<h2 class="font whiteFont centerText boldText lobbyBottomFiller">Tutee's Avatar</h2>
						</div>
					</div>
				</div>
                
                <div ng-controller="studentCtrl">
					<div class="col-md-3 col-sm-3 col-xs-3 smoothImage border-normal" ng-if="socket.getConnectionState() == socket.CONNECTED() && socket.getUserType() == 'student'">
						<div class="text-center row">
							<h2 class="font whiteFont centerText boldText lobbyBottomFiller">Tutor's Avatar</h2>
						</div>
					</div>
				
                	<div class="col-md-6 col-sm-6 col-xs-6 smoothImage border-normal" ng-if="socket.getConnectionState() == socket.CONNECTED() && socket.getUserType() == 'student'">
						<div class="text-center row">
							<h2 class="font whiteFont centerText boldText"> Combat Log </h2>
						</div>
						
						<div class="row">
							<div class="questions-received-area outer-container maximumWidth" style="overflow:auto;">
								<div class="questions-received-list">
	                                <div class="question-received border-gold-trimmed outer-container" ng-repeat="(uuid, question) in questions">
	                                    <div class="col-md-12 col-sm-12 col-xs-12">
	                                        <div class="row">
	                                            <h3 class="font whiteFont boldText chatWhiteSpace" ng-bind-html="question.description"></h3>
	                                        </div>
	                                        
											<div class="question-received-answers">
	                                            <div ng-repeat="answer in question.answers" class="row">
	                                            	<div class="row">
		                                            	<div class="col-md-4 col-sm-4 col-xs-4 font whiteFont lobbyGeneralFontSize">
	                                                   		{{answer.student.username}}
		                                                </div>
		                                                
														<div class="col-md-8 col-sm-8 col-xs-8">
	                                                   		<textarea class="answer-description-input font maximumWidth lobbyGeneralFontSize" ng-show="answer.owned" ng-model="answer.description" placeholder="Type answer..." type="text"  ng-trim="false"></textarea>
	                                                   		<div class="answer-description chatWhiteSpace" ng-show="!answer.owned" ng-bind-html="answer.description"></div>
		                                                </div>
	                                                </div>
													
	                                                <div class="row-fluid">
														<button class="btn vote-answer font" ng-class="{'btn-success' : answer.selected, 'btn-warning' : !answer.selected }" ng-click="selectAnswer(uuid, $index)" style="float:left;">Vote: {{answer.selectedCount}} </button>

			                                            <button class="btn btn-success update-answer font" ng-disabled="question.submitted" ng-click="updateAnswer(uuid)" style="float:left; margin-left: 5px;">Update!</button>
			                                        </div>
	                                            </div>
	                                        </div>
	                                    </div>
	                                    
										<div class="container-fluid" ng-show="question.graded">
	                                    	<div class="row-fluid"">
		                                    	<button class="row btn answers-received-select-group font marginTop" ng-class="{'btn-info' : question.selectedGroup == question.groupNames[$index], 'btn-success' : question.selectedGroup != question.groupNames[$index]}" ng-repeat="group in question.groupNames" ng-click="setSelectedGroup(uuid, $index)">{{group}}</button>
	                                        </div>
	                                       
											<div class="row-fluid group-received-answers">
	                                            <div class="row border-gold-trimmed">
	                                            	<div class="col-md-3 col-sm-3 col-xs-3 font whiteFont">
	                                            		<div>	{{question.groupAnswers[question.selectedGroup].student}}
                                                   		</div>
	                                                </div>
	                                                
													<div class="col-md-9 col-sm-9 col-xs-9 font whiteFont">
                                                   		<div class="answer-description chatWhiteSpace" ng-bind-html="question.groupAnswers[question.selectedGroup].description"></div>
	                                                </div>
	                                            </div>
	                                            
												<div class="row border-gold-trimmed">
													<div class="col-md-3 col-sm-3 col-xs-3 whiteFont">
														<div class="experience-input font whiteFont" style="float:left;"
															ng-bind-html="question.groupAnswers[question.selectedGroup].experience">
														</div>
													</div>
													
													<div class="col-md-9 col-sm-9 col-xs-9 font whiteFont">
														<div class="answer-explanation-input whiteFont maximumWidth"
															ng-bind-html="question.groupAnswers[question.selectedGroup].explanation">
														</div>
													</div>
												</div>
												
												<!--<div class="row-fluid">
		                                        	<div class="experience-input whiteFont" style="float:left;"
		                                        		ng-bind-html="question.groupAnswers[question.selectedGroup].experience">
		                                        	</div>
		                                        </div>-->
	                                        </div>
	                                    </div>
	                                    
										<div class="container-fluid" ng-show="!question.graded">
	                                    	<div class="row font whiteFont">
		                                    	Status: Waiting for Grading...
												
												<button class="btn btn-success submit-answer floatRight font" ng-if="hasAllVotes(uuid) && !question.submitted" ng-click="submitAnswer(uuid)">Submit!</button>
											</div>
	                                    </div>
	                                </div>
	                            </div>
							</div>
						</div>
					</div>
					
					<div class="col-md-3 col-sm-3 col-xs-3 smoothImage border-normal" ng-if="socket.getConnectionState() == socket.CONNECTED() && socket.getUserType() == 'student'">
						<div class="text-center row">
							<h2 class="font whiteFont centerText boldText lobbyBottomFiller">Tutor's Avatar</h2>
						</div>
					</div>
				</div>	
			</div>

			<div class="row" id="lobby-container" style="margin-top:50px;">
			
				<div ng-controller="chatCtrl">
					<div class="col-md-8 col-sm-7 col-xs-6 smoothImage border-normal" id="chat-container" ng-if="socket.getConnectionState() == socket.CONNECTED()">
						
						<div class="text-center row">
							<h2 class="font whiteFont centerText boldText lobbyBottomFiller"> Messages </h2>
						</div>
						
						<div class="row">
							<div class="groups-list">
                                <div class="container-fluid">
                                    <div class="row outer-container font">
                                        <button class="btn select-group" ng-class="{'btn-info' : selectedGroup == $index, 'btn-success' : selectedGroup != $index}" ng-repeat="group in socket.getSocketGroups()" ng-click="setSelectedGroup($index)">{{group}}</button>
                                    </div>
                                </div>
							</div>
						</div>
						
						<div class="row outer-container">
							<div class="chat-area border-gold-trimmed" id="messageBox">
								<div class="messages">
									<div ng-repeat="message in messages[socket.getSocketGroups()[selectedGroup]]"
										ng-class="{'log' : message.type=='log', 'message' : message.type=='message'}"
										data-username="{{message.user}}">
										<div ng-if="message.type == 'chat'">
											<span class="username font lobbyGeneralFontSize" ng-bind="message.user" style="color:{{getUsernameColor(message.user)}}; padding-right:5px;"></span> 
											<span class="messageBody font whiteFont lobbyGeneralFontSize" ng-bind="message.message"></span>
										</div>
										
										<div class="font whiteFont lobbyGeneralFontSize" ng-if="message.type == 'log'">
											{{ message.message }}
										</div>
									</div>
								</div>
							</div>
						</div>
						
						<div class="row">
							<div class="typing-message-area maximumWidth">
								<ul class="typing-messages">
									<li ng-repeat="typingMessage in typingMessages">
										<div>
											<span class="username" ng-bind="typingMessage.user" style="color:{{getUsernameColor(typingMessage.user)}}; padding-right:5px;"></span>
											<span class="messageBody" ng-bind="typingMessage.message"></span>
										</div>
									</li>
								</ul>
							</div>
						</div>
						
						<div class="row">
							<!-- ng-model within ng-if block must reference the data prepended by $parent -->
							<input class="inputMessage font maximumWidth lobbyGeneralFontSize" ng-model="$parent.chatMessage" ng-enter="sendMessage()" ng-change="updateTyping()" placeholder="Type Your Message Here!"/>
						</div>
					
					</div>
				</div>

				<div ng-controller="activeUsersCtrl">
					<div class="col-md-4 col-sm-5 col-xs-6 smoothImage border-normal" id="userlist-container" ng-if="socket.getConnectionState() == socket.CONNECTED()">
						<div class="text-center row">
							<h2 class="font whiteFont centerText boldText lobbyBottomFiller"> Active Users </h2>
						</div>
						
						<div class="row">
							<div class="groups-list">
                                <div class="container-fluid">
                                    <div class="row outer-container font">
                                        <button class="btn select-group" ng-class="{'btn-info' : selectedGroup == $index, 'btn-success' : selectedGroup != $index}" ng-repeat="group in socket.getAllSocketGroups()" ng-click="setSelectedGroup($index)">{{group}}</button>
                                    </div>
                                </div>
							</div>
						</div>
						
						<div class="row outer-container" ng-if="socket.getUserType() =='tutor'">
							<div class="users-active-list">
								<div class="users-active">
									<div class="user-active border-gold-trimmed maximumWidth" ng-repeat="user in users[socket.getAllSocketGroups()[selectedGroup]]">
	                                    <div class="container-fluid">
	                                        <div class="row-fluid font lobbyGeneralFontSize" ng-click="selectUser(user.socketId);" ng-style="{'color' : selectedUsers.indexOf (user.socketId) < 0 ? 'white' : 'yellow'}">
	                                            {{user.username}}
	                                        </div>
	                                    </div>
	                                </div>
								</div>
							</div>
						</div>
						
						<div class="row outer-container" ng-if="socket.getUserType() == 'student'">
							<div class="users-active-list">
								<div class="users-active">
									<div class="user-active border-gold-trimmed maximumWidth" ng-repeat="user in users[socket.getAllSocketGroups()[selectedGroup]]">
	                                    <div class="container-fluid">
	                                        <div class="row-fluid font lobbyGeneralFontSize" ng-click="selectUser(user.socketId);" ng-style="{'color' : selectedUsers.indexOf (user.socketId) < 0 ? 'white' : 'yellow'}">
	                                            {{user.username}}
	                                        </div>
	                                    </div>
	                                </div>
								</div>
							</div>
						</div>
						
						<div class="row-fluid" ng-if="socket.getUserType() == 'tutor'">
							<div class="row">
                            	<input class="input-group-name font maximumWidth lobbyGeneralFontSize" ng-model="$parent.$parent.newGroupName" placeholder="Type Your Group Name Here!"/>
                        	</div>

                        	<div class="row">
                            	<button class="btn btn-success create-group font" ng-click="createGroup()" ng-disabled="!isValidGroupParams()" style="float:right; margin-top:15px;">Create Group!</button>
                            	<div ng-if="selectedGroup > 0">
                            		<button class="btn btn-warning delete-group floatRight" ng-click="deleteGroup()">Delete Group</button>
                            	</div>
                        	</div>
                        </div>
					
					</div>
				</div>
				
			</div>
		</div>			

	</body>
</html>

<script src="js/lobby.js" type="application/javascript"></script>